
alias gs='git status -s'
alias gl='git lg -n 30'
alias gdel='git ls-files --deleted -z | xargs -0 git rm'
alias lz='lazygit'
alias lzd='lazydocker'

# Git fetch (no merge) all directories in the tree.
alias uar='find . -name .git -type d | xargs -n1 -P4 -I% git --git-dir=% --work-tree=%/.. remote update -p'
alias fpullar='find . -name .git -type d | xargs -n1 -P4 -I% git --git-dir=% --work-tree=%/.. pull --force'

# Npm install all folders down one level
alias npm-all='find . -maxdepth 2 -name package.json -printf "%h\n" | xargs -n1 -P1 -I% bash -c "cd % && npm i"'

# Npm How much?
alias npmdu='find . -name "node_modules" -type d -prune -print | xargs du -chs'

# Npm remove all
alias npmgtf='find . -name "node_modules" -type d -prune -print -exec rm -rf "{}" \;'

# Docker
alias docker-stop-all='docker stop $(docker ps --format '{{.Names}}')'
alias docker-stop-dev='docker-stop-all && docker start portainer'

# Fixes
alias fixfirefox='sudo rm /usr/lib/firefox/ubuntumate.cfg'

# eval $(thefuck --alias doh)
# eval $(thefuck --alias fuckit)
# eval $(thefuck --alias)

# Package management
alias pnpm-upgrade='curl -fsSL https://get.pnpm.io/install.sh | sh -'
alias pm='pnpm'
alias pmx='pnpm dlx'

# Camera controls
alias af-off='v4l2-ctl -d /dev/video4 --set-ctrl=focus_automatic_continuous=0'
alias af-on='v4l2-ctl -d /dev/video4 --set-ctrl=focus_automatic_continuous=1'
alias ae-off='v4l2-ctl -d /dev/video4 --set-ctrl=auto_exposure=1'
alias ae-on='v4l2-ctl -d /dev/video4 --set-ctrl=auto_exposure=3'

alias pmpm='pnpm'

# # # # # Functions # # # # #

# Weather forecast (kinross scotland by default)
# For other locations such as Edinburgh use "wttr edinburgh"
function wttr() {
  local place="${1:-kinross+scotland}"
  curl "wttr.in/$place?m"
}


function kpp {
  local PORT=${1:?You must specify a Port (defaults to TCP)}
  local TYPE=${2:-TCP}
  PROCUSING=$(lsof -ti $TYPE:$PORT)
  [ -z "$PROCUSING" ] && echo "No Process on Port $PORT" || {echo "Killing PID $PROCUSING on PORT $PORT"; kill -9 $PROCUSING}
}

alias k5k='kpp 5000 && kpp 5000'
export PATH="/usr/local/opt/mysql-client/bin:$PATH"


case "$OSTYPE" in
  darwin*)
    # Mac only
    alias proj='cd ~/projects/vidatec/'
    alias upd-npm-global='sudo find ~/.nvm/ -name ".DS_Store" -depth -exec rm {} \; && npm update -g'
    alias mysql=/Applications/MAMP/Library/bin/mysql
    alias upd='brew upgrade && brew cleanup && brew doctor'
  ;;
  linux-*)
    alias upd='sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get autoremove -y && sudo apt autoclean -y && sudo snap refresh && sudo flatpak upgrade -y'
    alias proj='cd ~/projects/work/'
    alias pbcopy='xclip -selection clipboard'
  ;;
esac

if [ $TILIX_ID ] || [ $VTE_VERSION ]; then
        source /etc/profile.d/vte.sh
fi
