[includeIf "gitdir:~/Projects/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Projects/vidatec/"]
  path = ~/.gitconfig-work
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	fpull = !sh -c 'git fetch origin develop && git reset --hard FETCH_HEAD && git clean -df'
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
	uncommit = reset HEAD^
  cob = checkout -b
  listbr = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	cm = commit -m
  cma = commit -a -m
[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[fetch]
	prune = true
[push]
	default = simple
