[include]
  path = ~/.gitconfig-username
[includeIf "gitdir:~/projects/personal/"]
  path = ~/.gitconfig-home
[includeIf "gitdir:~/projects/work/"]
  path = ~/.gitconfig-work
[alias]
  default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
	uncommit = reset --soft HEAD^
  unstage = reset HEAD
  cob = checkout -b
  lsb = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	cm = commit -m
  cma = commit -a -m
  lb = checkout -
  undo = reset HEAD~1 --mixed
  amne = commit --amend --no-edit
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  pfl = push --force-with-lease
[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[fetch]
	prune = true
[push]
	default = current
	autoSetupRemote = true
