[includeIf "gitdir:~/projects/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/projects/vidatec/"]
  path = ~/.gitconfig-work
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
	uncommit = reset --soft HEAD^
  unstage = reset HEAD
  cob = checkout -b
  lsb = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	cm = commit -m
  cma = commit -a -m
  lb = checkout -
[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[fetch]
	prune = true
[push]
	default = current
	autoSetupRemote = true
